<div class="container">
    <div class="centrar-logo"><img src="/img/logo.jpg" alt="EUFORIA" class="logo"></div>
    <hr>
    <br>
    <br>
    <article class="grid-mica container mb-5">
        <div class="mica">
            <img src="/img/mica.jpg" alt="Mica">
        </div>
        <p class="texto-mica">Las micas son minerales pertenecientes a un grupo numeroso de silicatos de alúmina, hierro,
            calcio, magnesio y minerales alcalinos caracterizados por su fácil exfoliación en delgadas láminas
            flexibles, elásticas y muy brillantes, dentro del subgrupo de los filosilicatos. Su sistema cristalino es
            monoclínico. Generalmente se las encuentra en las rocas ígneas tales como el granito y las rocas
            metamórficas como el esquisto. Las variedades más abundantes son la biotita y la moscovita.</p>
    </article>
</div>