







<div class="container albun">
    <div class="container albun_grid">
        <img src="" alt="html" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="" alt="css" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="" alt="java" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="" alt="bootstrap" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="" alt="react" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="" alt="angular" class="albun--">
    </div>

</div>