<nav class="container">
    <ul>
        <li>
            <a href="/" class="menu">Inicio</a>
        </li>
        <li>
            <a href="#" class="menu">Productos</a>
        </li>
        <li>
            <a href="contacto" class="menu">Contacto</a>
        </li>
    </ul>
</nav>
